<h1 mat-dialog-title>Atualizar Produto</h1>
<div mat-dialog-content>


  <form style="margin-right: 1rem;" [formGroup]="updateProductForm" (submit)="submit($event)">

    <div style="font-size: 11px; margin-bottom: 1rem;">
      <b style="margin-left: 0.5rem;">Caro Visitante,</b>
      <p style="margin-left: 0.5rem;">Para atualizar o produto, digite os dados solicitados nos campos indicados.</p>
    </div>

    <mat-divider></mat-divider>

    <p>
      <mat-form-field appearance="fill" style="width: 100%; margin-top: 2rem;">
        <mat-label>Selecione a Categoria</mat-label>
        <mat-select formControlName="idCategory">
          <mat-option *ngFor="let category of categories;" value="{{category.id}}">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field style="width: 100%;">
        <input type="text" matInput placeholder="Digite o nome" formControlName="name" value="data.name">
      </mat-form-field>
    </p>


    <p>
      <input type="file" formControlName="image" (change)="onFileChange($event)" />
    </p>

    <button mat-raised-button color="primary" type="submit" style="width: 100%;">Atualizar</button>

  </form>



</div>